.frame {
  margin: 20px auto;
  width: 375px;
  .frame-header {
    border-radius: 4px 4px 0 0;
    background: gradient(linear,left top,left bottom,from(rgba(55,55,55,.98)),to(#545456));
    background: linear-gradient(rgba(55,55,55,.98),#545456);
    text-align: center;
  }

  .frame-statbar {
    height: 20px;
    margin-bottom: 4px;
  }

  .frame-address {
    height: 40px;
  }

  .url-box {
    width: 350px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background-color: #a2a2a2;
    margin: 0 auto;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
  }

  .frame-content {
    width: 375px;
    height: 550px;
  }



}