:global {
  .search-form {
    // 以下CSS 用于搜索表单的渲染, 之所以把其写成全局的，是便于系统自定义样式
    padding: 10px 20px 15px;
    border: 1px solid #108ee9;
    border-radius: 7px;
    .btn-group {
      text-align: center;
      button {
        margin-left: 20px;
      }
    }
  }
}