:global{
  .doddle-input-search {
    position: relative;
    height: 100%;
    .origin-search {
      position: relative;
    } // 为autoComplete 添加搜索框标志
    .origin-search-icon {
      position: absolute;
      top: 1px;
      left: 4px;
      z-index: 1005;
      width: 20px;
      height: 30px;
      padding-top: 8px;
      border-right: 1px solid #d9d9d9;
      text-align: center;
    }
    .ant-select-auto-complete {
      position: absolute;
      display: block;
      z-index: 999;
      box-sizing: border-box;
      height: 32px;
      .ant-select-selection__rendered {
        margin-left: 0px;
      }
      .ant-input {
        padding-left: 26px;
      }
    }
    .search-input {
      position: absolute;
      width: 100%;
      top: 40px;
      left: 0; // 修复老版本antd 搜索框显示不全的bug
      z-index: 99;
      .ant-select-selection--single {
        height: 32px;
      }
    }
  }  
}